
html {
    height: 100%;
    background: #110101;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.huls {
    width:100%;
    margin:0 auto 50px auto;
    padding-top: 8%;
    font-family: 'PT Sans', sans-serif;
}

.slideshow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.slideshow .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;
}
.slideshow .slider * {
    outline: none;
}
.slideshow .slider .item {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
}
.slideshow .slider .item .text {
    display: none;
}
.slideshow .slider .item img {
    max-width: 101%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.slideshow .slick-dots {
    position: fixed;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;
}
.slideshow .slick-dots li {
    display: block;
    width: 100%;
    height: auto;
}
.slideshow .slick-dots li button {
    position: relative;
    width: 20px;
    height: 15px;
    text-align: center;
}
.slideshow .slick-dots li button:before {
    content: '';
    background: darkred;
    color: darkred;
    height: 2px;
    width: 20px;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
    width: 40px;
    opacity: 1;
}
.slideshow.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
}
.slideshow.slideshow-right .slider {
    left: 0;
    position: absolute;
}

.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 70px;
    width: 100vw;
    text-align: center;
    background-color: rgba(173,216,230,0.5);
    padding: 15px;
    border-radius: 15px;
    color: darkblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 0.8;
}
@media (max-width: 767px) {
    .slideshow-text {
        font-size: 40px;
        letter-spacing: 7px;
    }
    .slideshow .slider{
    transform: none;
    }
}
@media (max-width: 360px) {
    .slideshow-text {
        font-size: 25px;
    } 
   /* .slideshow .slider .item img{
       width: 400vw;
    }*/
}
.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width :34px;
    height: 200px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}