@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    background-image: url("../img/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachement:fixed;
}



.container{
    padding-top: 20px;
    padding-bottom: 50px;
}

.li {
    padding-top: 5%;
    max-width: 475px;
}

.links {
    max-width: 600px;
}

.explain {
    max-width: 400px;
}

.possible {
    max-width: 400px;
    clear: left;
    float: left;
}

.tombola {
    padding-top: 5%;
    clear: left;
    float: left;
    max-width: 340px;
}

.opleiding{
    max-width: 550px;
}

.formulier {
    clear: left;
    float: left;
}

.direction {
    clear: right;
    float: right;
}

.praktisch{
    margin:  50px 50px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    height: 30%;

}

h1 {
    color: #A1DAC7;
    font-family: 'Rozha One', serif;
    text-align: center;
    font-size: 2.5em;
}

h4{
    text-align: center;
}

.content {
    font-family: 'Lora', serif;
    float: left;
    padding-top: 2%;
    margin-left: 2%;
}

.images {
    clear: right;
    float: right;
    padding-top: 2%;
    margin-right: 2%;
}


.images img {
    border-radius: 25px;
}

.imgs {
    clear: left;
    float: left;
    padding-top: 2%;
    margin-left: 2%;
}

.logo img {
    max-width: 100%;
    height: auto;
    padding-top: 2%;
    margin-left: 2%;
}

li{
    list-style-type: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.huls {
    width:100%;
    margin:0 auto 50px auto;
    padding-top: 8%;
    font-family: 'PT Sans', sans-serif;
}
ul.inline{
    padding-left: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.fb {
    clear: right;
    float: right;
    margin-top: 5%;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



.knop, .knop+a {
    width: 200px;
    color: rgba(66, 101, 244, 1);
    background-color: #A1DAC7;
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 1.5em;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(66, 101, 244, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(66,101, 244, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(66, 101, 244, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    margin: 100px auto;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    cursor: pointer;
    text-decoration: none;
}

.knop:active, .knop+a:active  {
    -webkit-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

.knop:hover, .knop+a:hover{
    box-shadow: 0px 3px 0px rgba(66, 101, 244, 1);
    position: relative;
    top: 6px;
    text-decoration: none;
}

.btntest{
    margin-bottom: 35px;
}
