.timetable {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box
}

.timetable:after {
    clear: both;
    content: "";
    display: table;
}

.timetable *,
.timetable :after,
.timetable :before {
    box-sizing: inherit
}

.timetable li,
.timetable ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.timetable aside,
.timetable section {
    float: left
}

.timetable aside {
    max-width: 30%;
    padding: 0!important;
    margin-top: 46px;
    border-right: 5px solid transparent;
}

.timetable aside li {
    padding: 0 15px;
    background-color: #efefef;
    line-height: 55px;
}

.timetable aside li:not(:last-of-type) {
    border-bottom: 1px solid #fff;
}

.timetable aside .row-heading {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.timetable ul {
    list-style-type: none;
    margin: 0;
}

.timetable aside li,
.timetable time li {
    height: 80px;
}

.timetable section {
    flex-grow: 1;
    padding: 0!important;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.timetable section time {
    white-space: nowrap;
    display: inline-block;
}

.timetable section header {
    height: 46px;
    transform-style: preserve-3d;
    font-size: 0;
}

.timetable section header:after {
    clear: both;
    content: "";
    display: table;
}

.timetable section header li {
    font-size: 1rem;
    overflow: visible;
    width: 0;
    line-height: 46px;
    display: inline-block;
    position: relative;
}

.timetable section header li:not(:last-of-type) {
    width: 100px;
}

.timetable section header li .time-label {
    display: block;
    position: absolute;
    left: 0;
}

.timetable section header li:not(:first-of-type) .time-label {
    transform: translateX(-50%);
}

.timetable section header li:last-of-type .time-label {
    transform: translateX(-100%);
}

.timetable ul.room-timeline {
    border-left: none;
    position: relative;
    overflow: hidden;
}

.timetable ul.room-timeline li {
    position: relative;
    background-color: #f4f4f4
}

.timetable ul.room-timeline li:nth-of-type(odd) {
    background-color: #fdfdfd;
}

.timetable ul.room-timeline li:first-of-type {
    border-top: 1px solid #e5e5e5
}

.timetable ul.room-timeline li:last-of-type {
    border-bottom: 1px solid #e5e5e5
}

.timetable ul.room-timeline li:not(:last-of-type) {
    border-bottom: none
}

.timetable ul.room-timeline li:first-child .time-entry {
    height: 70px
}

.timetable ul.room-timeline li:after,
.timetable ul.room-timeline li:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.timetable ul.room-timeline li:before {
    background-image: linear-gradient(90deg, #e5e5e5 1px, transparent 0);
    background-size: 24px auto
}

.timetable ul.room-timeline li:after {
    background-image: linear-gradient(90deg, #e5e5e5, #e5e5e5 1px, #f4f4f4 0, #f4f4f4 2px, #e5e5e5 0, #e5e5e5 3px, transparent 0, transparent);
    background-size: 96px auto;
    background-position: -2px 0
}

.timetable .time-entry {
    background-color: #ec6a5e;
    transition: background-color .2s;
    height: 75px;
    display: block;
    position: absolute;
    z-index: 2;
    padding: 0 10px;
    white-space: normal;
    overflow: hidden;
    color: #fff;
    border: 1px solid #e32c1b;
    transform-style: preserve-3d
}

.timetable .time-entry small {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block
}

.timetable .time-entry:hover {
    background-color: #e74030
}